html {
  box-sizing: border-box;
  font-size: 10px;
}
body {
  margin-left: 0;
  overflow-x: hidden;
}

.main-container {
  display: flex;
}
.main-container__first {
  width: 17%;
  background: teal;
  margin-right: 3.2rem;
}

.main-container__second {
  width: 82%;
}
.sort-container {
  display: flex;
  justify-content: flex-end;
}

#sort-btn {
  width: 16rem;
  padding: 0.4rem 1.2rem;
  font-size: 1.8rem;
  display: flex;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  position: relative;
}

.sort_arrow {
  transition: transform 0.4s;
}
.sort_arrow.active {
  transform: rotate(180deg);
}
.sort-btn span:nth-child(1) {
  margin-right: 0.4rem;
  font-weight: 1000;
}
#sort-btn ul {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
  padding-left: 0;
  top: 1.2rem;
  width: 16rem;
  left: 0;
}
#sort-btn ul li {
  padding: 1.2rem 0;
  font-size: 1.6rem;
}
#sort-btn ul li:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  row-gap: 4.8rem;
  column-gap: 3rem;
}
.main-card {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
}
.main-card:hover {
  cursor: pointer;
}
.card {
  /* border: 1px solid black; */
  padding: 0px 1.5rem;
  height: 500px;
}

.top-anchor {
  text-decoration: dashed;
}
.top-anchor > img {
  width: 100%;
  display: block;
}

.top-anchor + div {
  display: flex;
  justify-content: space-between;
  border-top: 1px dashed black;
  padding-top: 1.2rem;
  font-size: 2rem;
  /* padding-bottom: rem; */
}
.top-anchor + div > span:nth-child(1) {
  font-weight: 900;
}
.top-anchor + div > span:nth-child(2) {
  font-size: larger;
}

.bottom-anchor {
  text-decoration: none;
}

.bottom-anchor span {
  display: inline-block;
  font-size: 1.5rem;
  color: black;
  font-weight: lighter;
  padding: 0 0.3rem;
}

.bottom-anchor span:nth-child(1) {
  text-decoration: line-through;
}
.bottom-anchor h2 {
  font-size: 1.8rem;
  color: black;
}
.bottom-anchor p {
  font-size: 1.4rem;
}

/* pagination */
#pagination-wrapper {
  /* border: 1px solid red; */
}
#pagination-wrapper div {
  /* border: 1px solid black; */
  width: 40%;
  margin: auto;
}

#pagination-wrapper div button {
  width: 4.8rem;
  height: 4.8rem;
  margin-right: 2.4rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: darkblue;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 2rem;
  background-color: white;
}

#pagination-wrapper div button:hover {
  color: white;
  background: #3498db;
}

/*  side bar */
