html {
  box-sizing: border-box;
  font-size: 10px;
}
body {
  margin-left: 0;
  overflow-x: hidden;
}

.single-div {
  display: flex;
  height: 100vh;
  width: 80%;
  margin: auto;
}
.single-div__first {
  width: 60%;
}

.single-div__second {
  width: 40%;
}
.single-div__first > div > div {
  display: flex;
}
.single-div__first > div > div > div:nth-child(1) {
  width: 20%;

  height: 85vh;
}
.single-div__first > div > div > div:nth-child(1) img {
  width: 90%;
}
.single-div__first > div > div > div:nth-child(2) {
  width: 80%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.image1 {
  margin-top: 3.2rem;
  /* background-color: teal; */
}
.image1 img {
  border-bottom: 5px solid #00a9e0;
  cursor: pointer;
  border-radius: 0 0 0.2rem 0.2rem;
  margin-bottom: 1rem;
}

.image2 img {
  cursor: pointer;
}

.image3 {
  /* background-color: aqua; */
  width: 95%;
  height: 85vh;
}
.image3 img {
  width: 100%;
}

.single-div__second > div > span:nth-child(1) {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}
.single-div__second > div > span > span {
  font-size: 5rem;
  margin-right: 3rem;
}
.single-div__second > div > span > div {
  font-size: 1.8rem;
}

.single-div__second > div > span:nth-child(1) {
  font-size: 2.8rem;
  width: 90%;
}
.single-div__second > div > span:nth-child(2) {
  font-size: 2rem;
  margin-bottom: 2.4rem;
  display: inline-block;
}

.single-div__second > div:nth-child(3) {
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid black; */
  width: 95%;
}
.single-div__second > div:nth-child(3) a {
  font-size: 1.8rem;
  display: inline-block;
  padding-right: 3rem;
}

.single-div__second > div:nth-child(4) {
  margin-bottom: 7rem;
  width: 82%;
}
.single-div__second > div:nth-child(4) button {
  width: 9rem;
  height: 5rem;
  margin-right: 0.6rem;
  cursor: pointer;
  background-color: white;
  border: 1px solid gray;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  font-weight: 700;
  transition: transform 0.3s;
}
.single-div__second > div:nth-child(4) button:hover {
  /* background-color: ; */
  transform: scale(1.03);
}

.single-div__second > div:nth-child(5) button {
  width: 100%;
}

.line-through {
  text-decoration: line-through;
}

.size-btn {
  /* border: 1px solid black; */
  width: 60%;

  margin-top: 4rem;
}
.size-btn button {
  width: 50%;
}

.add-to-cart {
  width: 100%;
}
.add-to-cart button {
  color: white;
  padding: 1.2rem 1.2rem;
  width: 100%;
  font-size: 1.8rem;
  background-color: #00a8e2;
  border: none;
  border-radius: 0.4rem;
  transition: transform 0.6s;
}
.add-to-cart button:hover {
  background: #0396c7;
  transform: scale(1.04);
  cursor: pointer;
}
